# Environment
.env
venv/
__pycache__/
*.pyc
*.pyo

# Data & DB
chroma_db/
Fintech-data/
*.db
*.sqlite

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
*.ipynb
